body {
    background-color: rgb(61, 59, 59);
    font-family: "Futura";
}

#main-content {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}

#logo img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

#menu {
    border-bottom: 2px solid rgb(61, 59, 59);
    margin-bottom: 1%;
	margin-left: 2%;
	margin-right: 2%
}

.menu-item {
    display: inline-block;
    font-size: 1.5vw;
    text-align: center;
    width: 16.31%;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  padding: 2%;

}

.menu-item:hover {
    background-color: rgb(61, 59, 59);
    color: white;
    cursor: pointer;
}

.menu-item.active {
    background-color: rgb(61, 59, 59);
    color: white;
}

#section-content {
	font-size: 1.5vw;
    margin-left: 3%;
    margin-right: 3%;
	padding-bottom: 3%;
}

.section {
    visibility: hidden;
    height: 0px;
    line-height: 0px;
    overflow: hidden;
}

.section.active {
    visibility: visible;
    height: auto;
    line-height: normal;
    overflow: auto;
}

.section .embeded-video {
    text-align: center;
}

.movie-title {
	font-weight: bold;
    font-size: 3.0vw;
}